* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FAFAFA;
}

.wrapper {
    min-width: 80vw;
    max-width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
}

.main-content {
    margin-left: 7vw;
    margin-right: 7vw;
}

#heroImage {
    margin-left: 3rem;
    margin-right: -3rem;
}

.divider {
    width: 80vw;
    margin-left: -3em;
}
